<style>
  @import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
  body {
    font-size: 40px;
    text-transform: uppercase;
    background: url('https://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-25.gif?w=800&h=336');
    background-size: cover;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
  }

  .container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-shadow: 2px 2px #000;
  }

  .left, .middle, .right {
    float: left;
    text-align: center;
    padding-top: 80px
  }

  .left, .right {
    width: 40%;
  }

  .left img, .right img {
    width: 80%;
    padding-top: 60px;
  }

  .right img {
    padding-top: 80px;
    width: 70%;
  }

  .middle {
    width: 20%;
  }

  .middle button {
    width: 15%;
    height: 5%;
    position: absolute;
    top: 400;
    right: 530;
    text-transform: uppercase;
  }

  .hitpoints {
    font-size: 18px;
    color: red;
  }

  .attack-text {
    font-size: 16px;
    color: red;
    text-shadow: 2px 2px #000;
    text-align: center;
    position: relative;
    top: -370;
  }

</style>

<div class="container">
  <div class="left">
    <%= @player_1.name %>
    <p class="hitpoints"> HITPOINTS = <%= @player_1.hitpoints %>  </p>
    <img src="http://67.media.tumblr.com/tumblr_mdf4r6t5yk1rptf33o1_500.gif">
  </div>
  <div class="middle">
    vs
    <form action="/attack" method="post">
      <button type="submit"> Attack </button>
    </form>
  </div>
  <div class="right">
    <%= @player_2.name %>
    <p class="hitpoints"> HITPOINTS = <%= @player_2.hitpoints %> </p>
    <img src="http://66.media.tumblr.com/tumblr_m2ewv8Psq21rptf33o1_500.gif">
  </div>
  <% if @status == "attack" %>
      <p class="attack-text"> <%= @player_1.name %> attacked <%= @player_2.name %>!</p>
  <%end %>

</div>
