<head>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css_styles/play.css"/>
</head>


<div class="container">
  <div class="left">
    <%= @game.players[0].name %>
    <p class="hitpoints"> HITPOINTS = <%= @game.players[0].hitpoints %>  </p>
    <img src="http://67.media.tumblr.com/tumblr_mdf4r6t5yk1rptf33o1_500.gif">
  </div>
  <div class="middle">
    vs
    <!-- <p> <%= @game.players[1].name %> 's turn </p> -->
    <form action="/attack" method="get">
      <button type="submit"> Attack </button>
    </form>
  </div>
  <div class="right">
    <%= @game.players[1].name %>
    <p class="hitpoints"> HITPOINTS = <%= @game.players[1].hitpoints %> </p>
    <img src="http://66.media.tumblr.com/tumblr_m2ewv8Psq21rptf33o1_500.gif">
  </div>
  <p> <%= @game.players[@game.turn[0]].name %>'s turn </p>
      <p class="attack-text"> <%= @game.players[@game.turn[1]].name %> attacked <%= @game.players[@game.turn[0]].name %>!</p>
</div>
