<head>
  <link rel="stylesheet" href="reset.css" type="text/css" />
  <link rel="stylesheet" href="css_styles/play.css"/>
</head>


<div class="container">
  <div class="left">
    <%= @player_1.name %>
    <p class="hitpoints"> HITPOINTS = <%= @player_1.hitpoints %>  </p>
    <img src="http://67.media.tumblr.com/tumblr_mdf4r6t5yk1rptf33o1_500.gif">
  </div>
  <div class="middle">
    vs
    <form action="/attack" method="post">
      <button type="submit"> Attack </button>
    </form>
  </div>
  <div class="right">
    <%= @player_2.name %>
    <p class="hitpoints"> HITPOINTS = <%= @player_2.hitpoints %> </p>
    <img src="http://66.media.tumblr.com/tumblr_m2ewv8Psq21rptf33o1_500.gif">
  </div>
  <% if @status == "attack" %>
      <p class="attack-text"> <%= @player_1.name %> attacked <%= @player_2.name %>!</p>
  <%end %>

</div>
